body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0; }


/* optional Container STYLES */
.chart { height: 600px; margin: 5px; width: 900px; font-family: arial!important;}
.Treant > .node {  }
.Treant > p { font-weight: bold; font-size: 11px; }
.node-name { font-weight: bold;}
.Treant p.node-title {margin-top: 0.7rem;}
.Treant a.node {
    color: #30a97f;
    cursor: pointer;
}
.Treant a .node-name {
    text-decoration: underline;
}
.Treant a .node-title {
    color: #313d63;
}

.nodeExample1 {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0.5rem;
    color: #313d63;
    background-color: #FFF;
    border: 1px solid #313d63;
    width: 200px;
    font-size: 11px;
    padding: 0.8rem;
    padding-left: 1.3rem;
}

.nodeExample1 img {
    margin-right:  10px;
}